--
-- PostgreSQL database dump
--

-- Dumped from database version 17.5
-- Dumped by pg_dump version 17.5

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: accounts_user; Type: TABLE; Schema: public; Owner: registrar_user
--

CREATE TABLE public.accounts_user (
    id bigint NOT NULL,
    password character varying(128) NOT NULL,
    last_login timestamp with time zone,
    is_superuser boolean NOT NULL,
    is_staff boolean NOT NULL,
    is_active boolean NOT NULL,
    date_joined timestamp with time zone NOT NULL,
    email character varying(254) NOT NULL,
    first_name character varying(50) NOT NULL,
    middle_name character varying(50),
    last_name character varying(50) NOT NULL,
    student_id character varying(20),
    role character varying(20) NOT NULL,
    username character varying(150) NOT NULL
);


ALTER TABLE public.accounts_user OWNER TO registrar_user;

--
-- Name: accounts_user_groups; Type: TABLE; Schema: public; Owner: registrar_user
--

CREATE TABLE public.accounts_user_groups (
    id bigint NOT NULL,
    user_id bigint NOT NULL,
    group_id integer NOT NULL
);


ALTER TABLE public.accounts_user_groups OWNER TO registrar_user;

--
-- Name: accounts_user_groups_id_seq; Type: SEQUENCE; Schema: public; Owner: registrar_user
--

CREATE SEQUENCE public.accounts_user_groups_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.accounts_user_groups_id_seq OWNER TO registrar_user;

--
-- Name: accounts_user_groups_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: registrar_user
--

ALTER SEQUENCE public.accounts_user_groups_id_seq OWNED BY public.accounts_user_groups.id;


--
-- Name: accounts_user_id_seq; Type: SEQUENCE; Schema: public; Owner: registrar_user
--

CREATE SEQUENCE public.accounts_user_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.accounts_user_id_seq OWNER TO registrar_user;

--
-- Name: accounts_user_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: registrar_user
--

ALTER SEQUENCE public.accounts_user_id_seq OWNED BY public.accounts_user.id;


--
-- Name: accounts_user_user_permissions; Type: TABLE; Schema: public; Owner: registrar_user
--

CREATE TABLE public.accounts_user_user_permissions (
    id bigint NOT NULL,
    user_id bigint NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.accounts_user_user_permissions OWNER TO registrar_user;

--
-- Name: accounts_user_user_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: registrar_user
--

CREATE SEQUENCE public.accounts_user_user_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.accounts_user_user_permissions_id_seq OWNER TO registrar_user;

--
-- Name: accounts_user_user_permissions_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: registrar_user
--

ALTER SEQUENCE public.accounts_user_user_permissions_id_seq OWNED BY public.accounts_user_user_permissions.id;


--
-- Name: ai_chathistory; Type: TABLE; Schema: public; Owner: registrar_user
--

CREATE TABLE public.ai_chathistory (
    id bigint NOT NULL,
    history jsonb NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    user_id bigint NOT NULL,
    conversation_id character varying(128) NOT NULL,
    session jsonb NOT NULL
);


ALTER TABLE public.ai_chathistory OWNER TO registrar_user;

--
-- Name: ai_chathistory_id_seq; Type: SEQUENCE; Schema: public; Owner: registrar_user
--

CREATE SEQUENCE public.ai_chathistory_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.ai_chathistory_id_seq OWNER TO registrar_user;

--
-- Name: ai_chathistory_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: registrar_user
--

ALTER SEQUENCE public.ai_chathistory_id_seq OWNED BY public.ai_chathistory.id;


--
-- Name: appointments_appointment; Type: TABLE; Schema: public; Owner: registrar_user
--

CREATE TABLE public.appointments_appointment (
    id bigint NOT NULL,
    purpose text NOT NULL,
    schedule timestamp with time zone,
    status character varying(20) NOT NULL,
    created_at timestamp with time zone NOT NULL,
    faculty_id bigint,
    student_id bigint NOT NULL
);


ALTER TABLE public.appointments_appointment OWNER TO registrar_user;

--
-- Name: appointments_appointment_id_seq; Type: SEQUENCE; Schema: public; Owner: registrar_user
--

CREATE SEQUENCE public.appointments_appointment_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.appointments_appointment_id_seq OWNER TO registrar_user;

--
-- Name: appointments_appointment_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: registrar_user
--

ALTER SEQUENCE public.appointments_appointment_id_seq OWNED BY public.appointments_appointment.id;


--
-- Name: appointments_appointmentaction; Type: TABLE; Schema: public; Owner: registrar_user
--

CREATE TABLE public.appointments_appointmentaction (
    id bigint NOT NULL,
    action character varying(32) NOT NULL,
    from_status character varying(20),
    to_status character varying(20),
    notes text NOT NULL,
    created_at timestamp with time zone NOT NULL,
    actor_id bigint,
    appointment_id bigint NOT NULL
);


ALTER TABLE public.appointments_appointmentaction OWNER TO registrar_user;

--
-- Name: appointments_appointmentaction_id_seq; Type: SEQUENCE; Schema: public; Owner: registrar_user
--

CREATE SEQUENCE public.appointments_appointmentaction_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.appointments_appointmentaction_id_seq OWNER TO registrar_user;

--
-- Name: appointments_appointmentaction_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: registrar_user
--

ALTER SEQUENCE public.appointments_appointmentaction_id_seq OWNED BY public.appointments_appointmentaction.id;


--
-- Name: auth_group; Type: TABLE; Schema: public; Owner: registrar_user
--

CREATE TABLE public.auth_group (
    id integer NOT NULL,
    name character varying(150) NOT NULL
);


ALTER TABLE public.auth_group OWNER TO registrar_user;

--
-- Name: auth_group_id_seq; Type: SEQUENCE; Schema: public; Owner: registrar_user
--

CREATE SEQUENCE public.auth_group_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.auth_group_id_seq OWNER TO registrar_user;

--
-- Name: auth_group_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: registrar_user
--

ALTER SEQUENCE public.auth_group_id_seq OWNED BY public.auth_group.id;


--
-- Name: auth_group_permissions; Type: TABLE; Schema: public; Owner: registrar_user
--

CREATE TABLE public.auth_group_permissions (
    id bigint NOT NULL,
    group_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_group_permissions OWNER TO registrar_user;

--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: registrar_user
--

CREATE SEQUENCE public.auth_group_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.auth_group_permissions_id_seq OWNER TO registrar_user;

--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: registrar_user
--

ALTER SEQUENCE public.auth_group_permissions_id_seq OWNED BY public.auth_group_permissions.id;


--
-- Name: auth_permission; Type: TABLE; Schema: public; Owner: registrar_user
--

CREATE TABLE public.auth_permission (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    content_type_id integer NOT NULL,
    codename character varying(100) NOT NULL
);


ALTER TABLE public.auth_permission OWNER TO registrar_user;

--
-- Name: auth_permission_id_seq; Type: SEQUENCE; Schema: public; Owner: registrar_user
--

CREATE SEQUENCE public.auth_permission_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.auth_permission_id_seq OWNER TO registrar_user;

--
-- Name: auth_permission_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: registrar_user
--

ALTER SEQUENCE public.auth_permission_id_seq OWNED BY public.auth_permission.id;


--
-- Name: django_admin_log; Type: TABLE; Schema: public; Owner: registrar_user
--

CREATE TABLE public.django_admin_log (
    id integer NOT NULL,
    action_time timestamp with time zone NOT NULL,
    object_id text,
    object_repr character varying(200) NOT NULL,
    action_flag smallint NOT NULL,
    change_message text NOT NULL,
    content_type_id integer,
    user_id bigint NOT NULL,
    CONSTRAINT django_admin_log_action_flag_check CHECK ((action_flag >= 0))
);


ALTER TABLE public.django_admin_log OWNER TO registrar_user;

--
-- Name: django_admin_log_id_seq; Type: SEQUENCE; Schema: public; Owner: registrar_user
--

CREATE SEQUENCE public.django_admin_log_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.django_admin_log_id_seq OWNER TO registrar_user;

--
-- Name: django_admin_log_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: registrar_user
--

ALTER SEQUENCE public.django_admin_log_id_seq OWNED BY public.django_admin_log.id;


--
-- Name: django_content_type; Type: TABLE; Schema: public; Owner: registrar_user
--

CREATE TABLE public.django_content_type (
    id integer NOT NULL,
    app_label character varying(100) NOT NULL,
    model character varying(100) NOT NULL
);


ALTER TABLE public.django_content_type OWNER TO registrar_user;

--
-- Name: django_content_type_id_seq; Type: SEQUENCE; Schema: public; Owner: registrar_user
--

CREATE SEQUENCE public.django_content_type_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.django_content_type_id_seq OWNER TO registrar_user;

--
-- Name: django_content_type_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: registrar_user
--

ALTER SEQUENCE public.django_content_type_id_seq OWNED BY public.django_content_type.id;


--
-- Name: django_migrations; Type: TABLE; Schema: public; Owner: registrar_user
--

CREATE TABLE public.django_migrations (
    id bigint NOT NULL,
    app character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    applied timestamp with time zone NOT NULL
);


ALTER TABLE public.django_migrations OWNER TO registrar_user;

--
-- Name: django_migrations_id_seq; Type: SEQUENCE; Schema: public; Owner: registrar_user
--

CREATE SEQUENCE public.django_migrations_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.django_migrations_id_seq OWNER TO registrar_user;

--
-- Name: django_migrations_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: registrar_user
--

ALTER SEQUENCE public.django_migrations_id_seq OWNED BY public.django_migrations.id;


--
-- Name: django_session; Type: TABLE; Schema: public; Owner: registrar_user
--

CREATE TABLE public.django_session (
    session_key character varying(40) NOT NULL,
    session_data text NOT NULL,
    expire_date timestamp with time zone NOT NULL
);


ALTER TABLE public.django_session OWNER TO registrar_user;

--
-- Name: document_requests_documentrequest; Type: TABLE; Schema: public; Owner: registrar_user
--

CREATE TABLE public.document_requests_documentrequest (
    id bigint NOT NULL,
    student_id bigint,
    document_type character varying(50),
    semester smallint,
    school_year character varying(9),
    purpose text,
    status character varying(20),
    requested_at timestamp with time zone,
    processed_by_id bigint,
    receipt_image character varying(100),
    notes text
);


ALTER TABLE public.document_requests_documentrequest OWNER TO registrar_user;

--
-- Name: document_requests_documentrequest_id_seq; Type: SEQUENCE; Schema: public; Owner: registrar_user
--

CREATE SEQUENCE public.document_requests_documentrequest_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.document_requests_documentrequest_id_seq OWNER TO registrar_user;

--
-- Name: document_requests_documentrequest_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: registrar_user
--

ALTER SEQUENCE public.document_requests_documentrequest_id_seq OWNED BY public.document_requests_documentrequest.id;


--
-- Name: document_requests_documentrequestaction; Type: TABLE; Schema: public; Owner: registrar_user
--

CREATE TABLE public.document_requests_documentrequestaction (
    id bigint NOT NULL,
    action character varying(32) NOT NULL,
    from_status character varying(20),
    to_status character varying(20),
    notes text NOT NULL,
    created_at timestamp with time zone NOT NULL,
    actor_id bigint,
    request_id bigint NOT NULL
);


ALTER TABLE public.document_requests_documentrequestaction OWNER TO registrar_user;

--
-- Name: document_requests_documentrequestaction_id_seq; Type: SEQUENCE; Schema: public; Owner: registrar_user
--

CREATE SEQUENCE public.document_requests_documentrequestaction_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.document_requests_documentrequestaction_id_seq OWNER TO registrar_user;

--
-- Name: document_requests_documentrequestaction_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: registrar_user
--

ALTER SEQUENCE public.document_requests_documentrequestaction_id_seq OWNED BY public.document_requests_documentrequestaction.id;


--
-- Name: accounts_user id; Type: DEFAULT; Schema: public; Owner: registrar_user
--

ALTER TABLE ONLY public.accounts_user ALTER COLUMN id SET DEFAULT nextval('public.accounts_user_id_seq'::regclass);


--
-- Name: accounts_user_groups id; Type: DEFAULT; Schema: public; Owner: registrar_user
--

ALTER TABLE ONLY public.accounts_user_groups ALTER COLUMN id SET DEFAULT nextval('public.accounts_user_groups_id_seq'::regclass);


--
-- Name: accounts_user_user_permissions id; Type: DEFAULT; Schema: public; Owner: registrar_user
--

ALTER TABLE ONLY public.accounts_user_user_permissions ALTER COLUMN id SET DEFAULT nextval('public.accounts_user_user_permissions_id_seq'::regclass);


--
-- Name: ai_chathistory id; Type: DEFAULT; Schema: public; Owner: registrar_user
--

ALTER TABLE ONLY public.ai_chathistory ALTER COLUMN id SET DEFAULT nextval('public.ai_chathistory_id_seq'::regclass);


--
-- Name: appointments_appointment id; Type: DEFAULT; Schema: public; Owner: registrar_user
--

ALTER TABLE ONLY public.appointments_appointment ALTER COLUMN id SET DEFAULT nextval('public.appointments_appointment_id_seq'::regclass);


--
-- Name: appointments_appointmentaction id; Type: DEFAULT; Schema: public; Owner: registrar_user
--

ALTER TABLE ONLY public.appointments_appointmentaction ALTER COLUMN id SET DEFAULT nextval('public.appointments_appointmentaction_id_seq'::regclass);


--
-- Name: auth_group id; Type: DEFAULT; Schema: public; Owner: registrar_user
--

ALTER TABLE ONLY public.auth_group ALTER COLUMN id SET DEFAULT nextval('public.auth_group_id_seq'::regclass);


--
-- Name: auth_group_permissions id; Type: DEFAULT; Schema: public; Owner: registrar_user
--

ALTER TABLE ONLY public.auth_group_permissions ALTER COLUMN id SET DEFAULT nextval('public.auth_group_permissions_id_seq'::regclass);


--
-- Name: auth_permission id; Type: DEFAULT; Schema: public; Owner: registrar_user
--

ALTER TABLE ONLY public.auth_permission ALTER COLUMN id SET DEFAULT nextval('public.auth_permission_id_seq'::regclass);


--
-- Name: django_admin_log id; Type: DEFAULT; Schema: public; Owner: registrar_user
--

ALTER TABLE ONLY public.django_admin_log ALTER COLUMN id SET DEFAULT nextval('public.django_admin_log_id_seq'::regclass);


--
-- Name: django_content_type id; Type: DEFAULT; Schema: public; Owner: registrar_user
--

ALTER TABLE ONLY public.django_content_type ALTER COLUMN id SET DEFAULT nextval('public.django_content_type_id_seq'::regclass);


--
-- Name: django_migrations id; Type: DEFAULT; Schema: public; Owner: registrar_user
--

ALTER TABLE ONLY public.django_migrations ALTER COLUMN id SET DEFAULT nextval('public.django_migrations_id_seq'::regclass);


--
-- Name: document_requests_documentrequest id; Type: DEFAULT; Schema: public; Owner: registrar_user
--

ALTER TABLE ONLY public.document_requests_documentrequest ALTER COLUMN id SET DEFAULT nextval('public.document_requests_documentrequest_id_seq'::regclass);


--
-- Name: document_requests_documentrequestaction id; Type: DEFAULT; Schema: public; Owner: registrar_user
--

ALTER TABLE ONLY public.document_requests_documentrequestaction ALTER COLUMN id SET DEFAULT nextval('public.document_requests_documentrequestaction_id_seq'::regclass);


--
-- Data for Name: accounts_user; Type: TABLE DATA; Schema: public; Owner: registrar_user
--



--
-- Data for Name: accounts_user_groups; Type: TABLE DATA; Schema: public; Owner: registrar_user
--

COPY public.accounts_user_groups (id, user_id, group_id) FROM stdin;
\.


--
-- Data for Name: accounts_user_user_permissions; Type: TABLE DATA; Schema: public; Owner: registrar_user
--

COPY public.accounts_user_user_permissions (id, user_id, permission_id) FROM stdin;
\.


--
-- Data for Name: ai_chathistory; Type: TABLE DATA; Schema: public; Owner: registrar_user
--



--
-- Data for Name: appointments_appointment; Type: TABLE DATA; Schema: public; Owner: registrar_user
--

COPY public.appointments_appointment (id, purpose, schedule, status, created_at, faculty_id, student_id) FROM stdin;
\.


--
-- Data for Name: appointments_appointmentaction; Type: TABLE DATA; Schema: public; Owner: registrar_user
--

COPY public.appointments_appointmentaction (id, action, from_status, to_status, notes, created_at, actor_id, appointment_id) FROM stdin;
\.


--
-- Data for Name: auth_group; Type: TABLE DATA; Schema: public; Owner: registrar_user
--

COPY public.auth_group (id, name) FROM stdin;
\.


--
-- Data for Name: auth_group_permissions; Type: TABLE DATA; Schema: public; Owner: registrar_user
--

COPY public.auth_group_permissions (id, group_id, permission_id) FROM stdin;
\.


--
-- Data for Name: auth_permission; Type: TABLE DATA; Schema: public; Owner: registrar_user
--



--
-- Data for Name: django_admin_log; Type: TABLE DATA; Schema: public; Owner: registrar_user
--



--
-- Data for Name: django_content_type; Type: TABLE DATA; Schema: public; Owner: registrar_user
--

COPY public.django_content_type (id, app_label, model) FROM stdin;
1	admin	logentry
2	auth	permission
3	auth	group
4	contenttypes	contenttype
5	sessions	session
6	accounts	user
7	document_requests	documentrequest
8	appointments	appointment
9	document_requests	documentrequestaction
10	appointments	appointmentaction
11	ai	chathistory
\.


--
-- Data for Name: django_migrations; Type: TABLE DATA; Schema: public; Owner: registrar_user
--



--
-- Data for Name: django_session; Type: TABLE DATA; Schema: public; Owner: registrar_user
--



--
-- Data for Name: document_requests_documentrequest; Type: TABLE DATA; Schema: public; Owner: registrar_user
--



--
-- Data for Name: document_requests_documentrequestaction; Type: TABLE DATA; Schema: public; Owner: registrar_user
--

COPY public.document_requests_documentrequestaction (id, action, from_status, to_status, notes, created_at, actor_id, request_id) FROM stdin;
2	status_changed	pending	cancelled	Cancelled via chatbot	2025-09-21 15:30:02.530247-07	16	2
3	status_changed	cancelled	processed	Approved by faculty	2025-09-22 20:52:50.22225-07	20	2
\.


--
-- Name: accounts_user_groups_id_seq; Type: SEQUENCE SET; Schema: public; Owner: registrar_user
--

SELECT pg_catalog.setval('public.accounts_user_groups_id_seq', 1, false);


--
-- Name: accounts_user_id_seq; Type: SEQUENCE SET; Schema: public; Owner: registrar_user
--

SELECT pg_catalog.setval('public.accounts_user_id_seq', 21, true);


--
-- Name: accounts_user_user_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: registrar_user
--

SELECT pg_catalog.setval('public.accounts_user_user_permissions_id_seq', 1, false);


--
-- Name: ai_chathistory_id_seq; Type: SEQUENCE SET; Schema: public; Owner: registrar_user
--

SELECT pg_catalog.setval('public.ai_chathistory_id_seq', 1, true);


--
-- Name: appointments_appointment_id_seq; Type: SEQUENCE SET; Schema: public; Owner: registrar_user
--

SELECT pg_catalog.setval('public.appointments_appointment_id_seq', 1, true);


--
-- Name: appointments_appointmentaction_id_seq; Type: SEQUENCE SET; Schema: public; Owner: registrar_user
--

SELECT pg_catalog.setval('public.appointments_appointmentaction_id_seq', 1, true);


--
-- Name: auth_group_id_seq; Type: SEQUENCE SET; Schema: public; Owner: registrar_user
--

SELECT pg_catalog.setval('public.auth_group_id_seq', 1, false);


--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: registrar_user
--

SELECT pg_catalog.setval('public.auth_group_permissions_id_seq', 1, false);


--
-- Name: auth_permission_id_seq; Type: SEQUENCE SET; Schema: public; Owner: registrar_user
--

SELECT pg_catalog.setval('public.auth_permission_id_seq', 44, true);


--
-- Name: django_admin_log_id_seq; Type: SEQUENCE SET; Schema: public; Owner: registrar_user
--

SELECT pg_catalog.setval('public.django_admin_log_id_seq', 17, true);


--
-- Name: django_content_type_id_seq; Type: SEQUENCE SET; Schema: public; Owner: registrar_user
--

SELECT pg_catalog.setval('public.django_content_type_id_seq', 11, true);


--
-- Name: django_migrations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: registrar_user
--

SELECT pg_catalog.setval('public.django_migrations_id_seq', 47, true);


--
-- Name: document_requests_documentrequest_id_seq; Type: SEQUENCE SET; Schema: public; Owner: registrar_user
--

SELECT pg_catalog.setval('public.document_requests_documentrequest_id_seq', 15, true);


--
-- Name: document_requests_documentrequestaction_id_seq; Type: SEQUENCE SET; Schema: public; Owner: registrar_user
--

SELECT pg_catalog.setval('public.document_requests_documentrequestaction_id_seq', 3, true);


--
-- Name: accounts_user accounts_user_email_key; Type: CONSTRAINT; Schema: public; Owner: registrar_user
--

ALTER TABLE ONLY public.accounts_user
    ADD CONSTRAINT accounts_user_email_key UNIQUE (email);


--
-- Name: accounts_user_groups accounts_user_groups_pkey; Type: CONSTRAINT; Schema: public; Owner: registrar_user
--

ALTER TABLE ONLY public.accounts_user_groups
    ADD CONSTRAINT accounts_user_groups_pkey PRIMARY KEY (id);


--
-- Name: accounts_user_groups accounts_user_groups_user_id_group_id_59c0b32f_uniq; Type: CONSTRAINT; Schema: public; Owner: registrar_user
--

ALTER TABLE ONLY public.accounts_user_groups
    ADD CONSTRAINT accounts_user_groups_user_id_group_id_59c0b32f_uniq UNIQUE (user_id, group_id);


--
-- Name: accounts_user accounts_user_pkey; Type: CONSTRAINT; Schema: public; Owner: registrar_user
--

ALTER TABLE ONLY public.accounts_user
    ADD CONSTRAINT accounts_user_pkey PRIMARY KEY (id);


--
-- Name: accounts_user accounts_user_student_id_key; Type: CONSTRAINT; Schema: public; Owner: registrar_user
--

ALTER TABLE ONLY public.accounts_user
    ADD CONSTRAINT accounts_user_student_id_key UNIQUE (student_id);


--
-- Name: accounts_user_user_permissions accounts_user_user_permi_user_id_permission_id_2ab516c2_uniq; Type: CONSTRAINT; Schema: public; Owner: registrar_user
--

ALTER TABLE ONLY public.accounts_user_user_permissions
    ADD CONSTRAINT accounts_user_user_permi_user_id_permission_id_2ab516c2_uniq UNIQUE (user_id, permission_id);


--
-- Name: accounts_user_user_permissions accounts_user_user_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: registrar_user
--

ALTER TABLE ONLY public.accounts_user_user_permissions
    ADD CONSTRAINT accounts_user_user_permissions_pkey PRIMARY KEY (id);


--
-- Name: accounts_user accounts_user_username_key; Type: CONSTRAINT; Schema: public; Owner: registrar_user
--

ALTER TABLE ONLY public.accounts_user
    ADD CONSTRAINT accounts_user_username_key UNIQUE (username);


--
-- Name: ai_chathistory ai_chathistory_pkey; Type: CONSTRAINT; Schema: public; Owner: registrar_user
--

ALTER TABLE ONLY public.ai_chathistory
    ADD CONSTRAINT ai_chathistory_pkey PRIMARY KEY (id);


--
-- Name: ai_chathistory ai_chathistory_user_id_conversation_id_fbb89d56_uniq; Type: CONSTRAINT; Schema: public; Owner: registrar_user
--

ALTER TABLE ONLY public.ai_chathistory
    ADD CONSTRAINT ai_chathistory_user_id_conversation_id_fbb89d56_uniq UNIQUE (user_id, conversation_id);


--
-- Name: appointments_appointment appointments_appointment_pkey; Type: CONSTRAINT; Schema: public; Owner: registrar_user
--

ALTER TABLE ONLY public.appointments_appointment
    ADD CONSTRAINT appointments_appointment_pkey PRIMARY KEY (id);


--
-- Name: appointments_appointmentaction appointments_appointmentaction_pkey; Type: CONSTRAINT; Schema: public; Owner: registrar_user
--

ALTER TABLE ONLY public.appointments_appointmentaction
    ADD CONSTRAINT appointments_appointmentaction_pkey PRIMARY KEY (id);


--
-- Name: auth_group auth_group_name_key; Type: CONSTRAINT; Schema: public; Owner: registrar_user
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_name_key UNIQUE (name);


--
-- Name: auth_group_permissions auth_group_permissions_group_id_permission_id_0cd325b0_uniq; Type: CONSTRAINT; Schema: public; Owner: registrar_user
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_permission_id_0cd325b0_uniq UNIQUE (group_id, permission_id);


--
-- Name: auth_group_permissions auth_group_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: registrar_user
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_group auth_group_pkey; Type: CONSTRAINT; Schema: public; Owner: registrar_user
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_pkey PRIMARY KEY (id);


--
-- Name: auth_permission auth_permission_content_type_id_codename_01ab375a_uniq; Type: CONSTRAINT; Schema: public; Owner: registrar_user
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_codename_01ab375a_uniq UNIQUE (content_type_id, codename);


--
-- Name: auth_permission auth_permission_pkey; Type: CONSTRAINT; Schema: public; Owner: registrar_user
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_pkey PRIMARY KEY (id);


--
-- Name: django_admin_log django_admin_log_pkey; Type: CONSTRAINT; Schema: public; Owner: registrar_user
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_pkey PRIMARY KEY (id);


--
-- Name: django_content_type django_content_type_app_label_model_76bd3d3b_uniq; Type: CONSTRAINT; Schema: public; Owner: registrar_user
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_app_label_model_76bd3d3b_uniq UNIQUE (app_label, model);


--
-- Name: django_content_type django_content_type_pkey; Type: CONSTRAINT; Schema: public; Owner: registrar_user
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_pkey PRIMARY KEY (id);


--
-- Name: django_migrations django_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: registrar_user
--

ALTER TABLE ONLY public.django_migrations
    ADD CONSTRAINT django_migrations_pkey PRIMARY KEY (id);


--
-- Name: django_session django_session_pkey; Type: CONSTRAINT; Schema: public; Owner: registrar_user
--

ALTER TABLE ONLY public.django_session
    ADD CONSTRAINT django_session_pkey PRIMARY KEY (session_key);


--
-- Name: document_requests_documentrequest document_requests_documentrequest_pkey; Type: CONSTRAINT; Schema: public; Owner: registrar_user
--

ALTER TABLE ONLY public.document_requests_documentrequest
    ADD CONSTRAINT document_requests_documentrequest_pkey PRIMARY KEY (id);


--
-- Name: document_requests_documentrequestaction document_requests_documentrequestaction_pkey; Type: CONSTRAINT; Schema: public; Owner: registrar_user
--

ALTER TABLE ONLY public.document_requests_documentrequestaction
    ADD CONSTRAINT document_requests_documentrequestaction_pkey PRIMARY KEY (id);


--
-- Name: accounts_user_email_b2644a56_like; Type: INDEX; Schema: public; Owner: registrar_user
--

CREATE INDEX accounts_user_email_b2644a56_like ON public.accounts_user USING btree (email varchar_pattern_ops);


--
-- Name: accounts_user_groups_group_id_bd11a704; Type: INDEX; Schema: public; Owner: registrar_user
--

CREATE INDEX accounts_user_groups_group_id_bd11a704 ON public.accounts_user_groups USING btree (group_id);


--
-- Name: accounts_user_groups_user_id_52b62117; Type: INDEX; Schema: public; Owner: registrar_user
--

CREATE INDEX accounts_user_groups_user_id_52b62117 ON public.accounts_user_groups USING btree (user_id);


--
-- Name: accounts_user_student_id_9ac5f3fa_like; Type: INDEX; Schema: public; Owner: registrar_user
--

CREATE INDEX accounts_user_student_id_9ac5f3fa_like ON public.accounts_user USING btree (student_id varchar_pattern_ops);


--
-- Name: accounts_user_user_permissions_permission_id_113bb443; Type: INDEX; Schema: public; Owner: registrar_user
--

CREATE INDEX accounts_user_user_permissions_permission_id_113bb443 ON public.accounts_user_user_permissions USING btree (permission_id);


--
-- Name: accounts_user_user_permissions_user_id_e4f0a161; Type: INDEX; Schema: public; Owner: registrar_user
--

CREATE INDEX accounts_user_user_permissions_user_id_e4f0a161 ON public.accounts_user_user_permissions USING btree (user_id);


--
-- Name: accounts_user_username_6088629e_like; Type: INDEX; Schema: public; Owner: registrar_user
--

CREATE INDEX accounts_user_username_6088629e_like ON public.accounts_user USING btree (username varchar_pattern_ops);


--
-- Name: ai_chathist_user_id_01d79e_idx; Type: INDEX; Schema: public; Owner: registrar_user
--

CREATE INDEX ai_chathist_user_id_01d79e_idx ON public.ai_chathistory USING btree (user_id, conversation_id);


--
-- Name: ai_chathistory_conversation_id_e74a26ab; Type: INDEX; Schema: public; Owner: registrar_user
--

CREATE INDEX ai_chathistory_conversation_id_e74a26ab ON public.ai_chathistory USING btree (conversation_id);


--
-- Name: ai_chathistory_conversation_id_e74a26ab_like; Type: INDEX; Schema: public; Owner: registrar_user
--

CREATE INDEX ai_chathistory_conversation_id_e74a26ab_like ON public.ai_chathistory USING btree (conversation_id varchar_pattern_ops);


--
-- Name: ai_chathistory_user_id_b3776f33; Type: INDEX; Schema: public; Owner: registrar_user
--

CREATE INDEX ai_chathistory_user_id_b3776f33 ON public.ai_chathistory USING btree (user_id);


--
-- Name: appointments_appointment_faculty_id_4e512143; Type: INDEX; Schema: public; Owner: registrar_user
--

CREATE INDEX appointments_appointment_faculty_id_4e512143 ON public.appointments_appointment USING btree (faculty_id);


--
-- Name: appointments_appointment_student_id_09946526; Type: INDEX; Schema: public; Owner: registrar_user
--

CREATE INDEX appointments_appointment_student_id_09946526 ON public.appointments_appointment USING btree (student_id);


--
-- Name: appointments_appointmentaction_actor_id_0d27bde5; Type: INDEX; Schema: public; Owner: registrar_user
--

CREATE INDEX appointments_appointmentaction_actor_id_0d27bde5 ON public.appointments_appointmentaction USING btree (actor_id);


--
-- Name: appointments_appointmentaction_appointment_id_fb92b932; Type: INDEX; Schema: public; Owner: registrar_user
--

CREATE INDEX appointments_appointmentaction_appointment_id_fb92b932 ON public.appointments_appointmentaction USING btree (appointment_id);


--
-- Name: auth_group_name_a6ea08ec_like; Type: INDEX; Schema: public; Owner: registrar_user
--

CREATE INDEX auth_group_name_a6ea08ec_like ON public.auth_group USING btree (name varchar_pattern_ops);


--
-- Name: auth_group_permissions_group_id_b120cbf9; Type: INDEX; Schema: public; Owner: registrar_user
--

CREATE INDEX auth_group_permissions_group_id_b120cbf9 ON public.auth_group_permissions USING btree (group_id);


--
-- Name: auth_group_permissions_permission_id_84c5c92e; Type: INDEX; Schema: public; Owner: registrar_user
--

CREATE INDEX auth_group_permissions_permission_id_84c5c92e ON public.auth_group_permissions USING btree (permission_id);


--
-- Name: auth_permission_content_type_id_2f476e4b; Type: INDEX; Schema: public; Owner: registrar_user
--

CREATE INDEX auth_permission_content_type_id_2f476e4b ON public.auth_permission USING btree (content_type_id);


--
-- Name: django_admin_log_content_type_id_c4bce8eb; Type: INDEX; Schema: public; Owner: registrar_user
--

CREATE INDEX django_admin_log_content_type_id_c4bce8eb ON public.django_admin_log USING btree (content_type_id);


--
-- Name: django_admin_log_user_id_c564eba6; Type: INDEX; Schema: public; Owner: registrar_user
--

CREATE INDEX django_admin_log_user_id_c564eba6 ON public.django_admin_log USING btree (user_id);


--
-- Name: django_session_expire_date_a5c62663; Type: INDEX; Schema: public; Owner: registrar_user
--

CREATE INDEX django_session_expire_date_a5c62663 ON public.django_session USING btree (expire_date);


--
-- Name: django_session_session_key_c0390e0f_like; Type: INDEX; Schema: public; Owner: registrar_user
--

CREATE INDEX django_session_session_key_c0390e0f_like ON public.django_session USING btree (session_key varchar_pattern_ops);


--
-- Name: document_requests_documentrequestaction_actor_id_9c6a83ee; Type: INDEX; Schema: public; Owner: registrar_user
--

CREATE INDEX document_requests_documentrequestaction_actor_id_9c6a83ee ON public.document_requests_documentrequestaction USING btree (actor_id);


--
-- Name: document_requests_documentrequestaction_request_id_54b48487; Type: INDEX; Schema: public; Owner: registrar_user
--

CREATE INDEX document_requests_documentrequestaction_request_id_54b48487 ON public.document_requests_documentrequestaction USING btree (request_id);


--
-- Name: accounts_user_groups accounts_user_groups_group_id_bd11a704_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: registrar_user
--

ALTER TABLE ONLY public.accounts_user_groups
    ADD CONSTRAINT accounts_user_groups_group_id_bd11a704_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: accounts_user_groups accounts_user_groups_user_id_52b62117_fk_accounts_user_id; Type: FK CONSTRAINT; Schema: public; Owner: registrar_user
--

ALTER TABLE ONLY public.accounts_user_groups
    ADD CONSTRAINT accounts_user_groups_user_id_52b62117_fk_accounts_user_id FOREIGN KEY (user_id) REFERENCES public.accounts_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: accounts_user_user_permissions accounts_user_user_p_permission_id_113bb443_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: registrar_user
--

ALTER TABLE ONLY public.accounts_user_user_permissions
    ADD CONSTRAINT accounts_user_user_p_permission_id_113bb443_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: accounts_user_user_permissions accounts_user_user_p_user_id_e4f0a161_fk_accounts_; Type: FK CONSTRAINT; Schema: public; Owner: registrar_user
--

ALTER TABLE ONLY public.accounts_user_user_permissions
    ADD CONSTRAINT accounts_user_user_p_user_id_e4f0a161_fk_accounts_ FOREIGN KEY (user_id) REFERENCES public.accounts_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: ai_chathistory ai_chathistory_user_id_b3776f33_fk_accounts_user_id; Type: FK CONSTRAINT; Schema: public; Owner: registrar_user
--

ALTER TABLE ONLY public.ai_chathistory
    ADD CONSTRAINT ai_chathistory_user_id_b3776f33_fk_accounts_user_id FOREIGN KEY (user_id) REFERENCES public.accounts_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: appointments_appointmentaction appointments_appoint_actor_id_0d27bde5_fk_accounts_; Type: FK CONSTRAINT; Schema: public; Owner: registrar_user
--

ALTER TABLE ONLY public.appointments_appointmentaction
    ADD CONSTRAINT appointments_appoint_actor_id_0d27bde5_fk_accounts_ FOREIGN KEY (actor_id) REFERENCES public.accounts_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: appointments_appointmentaction appointments_appoint_appointment_id_fb92b932_fk_appointme; Type: FK CONSTRAINT; Schema: public; Owner: registrar_user
--

ALTER TABLE ONLY public.appointments_appointmentaction
    ADD CONSTRAINT appointments_appoint_appointment_id_fb92b932_fk_appointme FOREIGN KEY (appointment_id) REFERENCES public.appointments_appointment(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: appointments_appointment appointments_appoint_faculty_id_4e512143_fk_accounts_; Type: FK CONSTRAINT; Schema: public; Owner: registrar_user
--

ALTER TABLE ONLY public.appointments_appointment
    ADD CONSTRAINT appointments_appoint_faculty_id_4e512143_fk_accounts_ FOREIGN KEY (faculty_id) REFERENCES public.accounts_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: appointments_appointment appointments_appoint_student_id_09946526_fk_accounts_; Type: FK CONSTRAINT; Schema: public; Owner: registrar_user
--

ALTER TABLE ONLY public.appointments_appointment
    ADD CONSTRAINT appointments_appoint_student_id_09946526_fk_accounts_ FOREIGN KEY (student_id) REFERENCES public.accounts_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissio_permission_id_84c5c92e_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: registrar_user
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissio_permission_id_84c5c92e_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissions_group_id_b120cbf9_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: registrar_user
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_b120cbf9_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_permission auth_permission_content_type_id_2f476e4b_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: registrar_user
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_2f476e4b_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_content_type_id_c4bce8eb_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: registrar_user
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_content_type_id_c4bce8eb_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_user_id_c564eba6_fk_accounts_user_id; Type: FK CONSTRAINT; Schema: public; Owner: registrar_user
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_user_id_c564eba6_fk_accounts_user_id FOREIGN KEY (user_id) REFERENCES public.accounts_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: document_requests_documentrequestaction document_requests_do_actor_id_9c6a83ee_fk_accounts_; Type: FK CONSTRAINT; Schema: public; Owner: registrar_user
--

ALTER TABLE ONLY public.document_requests_documentrequestaction
    ADD CONSTRAINT document_requests_do_actor_id_9c6a83ee_fk_accounts_ FOREIGN KEY (actor_id) REFERENCES public.accounts_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: document_requests_documentrequestaction document_requests_do_request_id_54b48487_fk_document_; Type: FK CONSTRAINT; Schema: public; Owner: registrar_user
--

ALTER TABLE ONLY public.document_requests_documentrequestaction
    ADD CONSTRAINT document_requests_do_request_id_54b48487_fk_document_ FOREIGN KEY (request_id) REFERENCES public.document_requests_documentrequest(id) ON DELETE CASCADE;


--
-- Name: document_requests_documentrequest document_requests_documentrequest_processed_by_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: registrar_user
--

ALTER TABLE ONLY public.document_requests_documentrequest
    ADD CONSTRAINT document_requests_documentrequest_processed_by_id_fkey FOREIGN KEY (processed_by_id) REFERENCES public.accounts_user(id) ON DELETE SET NULL;


--
-- Name: document_requests_documentrequest document_requests_documentrequest_student_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: registrar_user
--

ALTER TABLE ONLY public.document_requests_documentrequest
    ADD CONSTRAINT document_requests_documentrequest_student_id_fkey FOREIGN KEY (student_id) REFERENCES public.accounts_user(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

